.title {
 	text-align: center;
 	font-size: 80px;
 	font-family: 'Bangers', 'CooperHewitt', 'Chivo', sans-serif;
 	color: #FFFFFF;
 	margin-bottom: 0%;
 }

.info{
	text-align: center;
 	font-size: 18px;
 	font-family: 'Handlee', cursive;
 	color: #FFFFFF;
 	padding-bottom: 4%;
}

.top-banner{
	background-color: #D65930;
	padding-top: 0.01%;
	margin-bottom: 0;
	background-image: url("rain.gif");
	background-size: 100%;
	background-repeat: repeat;
	padding-bottom: 1%;

}

html, body{
	padding: 0;
	margin: 0;
	background-color: #000000;
	
}

.ticker{
	font-family: 'CooperHewitt', 'Chivo', sans-serif;
	background-color: #D65930;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	color: white;
}

.AboutTender {
	text-align: center;
	font-family: 'CooperHewitt', 'Chivo', sans-serif;
	font-size: 20px;
}

.Developers {
	text-align: left;
	font-family: 'CooperHewitt', 'Chivo', sans-serif;
	font-size: 18px;
}

footer{
	background-color: #D65930;
	padding-bottom: 0.01%;
	text-align: left;
 	font-size: 18px;
 	font-family: 'CooperHewitt', 'Chivo', sans-serif;
 	color: #FFFFFF;
 	vertical-align: text-bottom;
 	margin-top: 5%;
}

.copyright{
	vertical-align: center;
	padding-top: 1%;
	padding-left: 1%;
	font-family: 'CooperHewitt', 'Chivo', sans-serif;
}
