
.title {
 	text-align: center;
 	font-size: 80px;
 	font-family: 'CooperHewitt', 'Chivo', sans-serif;
 	color: #FFFFFF;
 	margin-bottom: 0%;
 }

.info{
	text-align: center;
 	font-size: 18px;
 	font-family: 'CooperHewitt', 'Chivo', sans-serif;
 	color: #FFFFFF;
 	padding-bottom: 4%;
}

.main_gif{
	margin-top: 10%;
	margin-left: 39%;
    margin-right: 30%;
}

.top-banner{
	background-color: #D65930;
	padding-top: 2%

}

html, body{
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
	height: 100%;
}

.awesome{
	background: #222 url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	margin-right: auto
	margin-left: 0;
}

.ticker{
	font-family: 'CooperHewitt', 'Chivo', sans-serif;
	font-weight: bold;
}