body{
	background-color: #D65930;
}

.top{
	padding: 0%;
}

.title {
 	text-align: center;
 	font-size: 80px;
 	font-family: 'CooperHewitt', 'Chivo', sans-serif;
 	color: #FFFFFF;
 	margin-bottom: 0%;
 }

.info{
	text-align: center;
 	font-size: 18px;
 	font-family: 'CooperHewitt', 'Chivo', sans-serif;
 	color: #000000;
}

.main_gif{
	margin-top: 10%;
	margin-left: 39%;
    margin-right: 30%;
}

.top-banner{
	padding: 0%;
	background-color: #D9D9D9;
}